@page "/"
@inject IJSRuntime JS

<div class="game-shell">
  <div class="canvas-wrap">
    <canvas id="gameCanvas" tabindex="0"></canvas>

    <div id="winOverlay" class="win-overlay" style="display:none">
      You Win! Press R to restart
    </div>

    <div id="fireOverlay" class="win-overlay" style="display:none">
      Caught by fire! Press R to try again
    </div>
  </div>
</div>

@code {
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await JS.InvokeVoidAsync("platformer.init");
    }
  }
}
